.header {
  background-color: black;
  height: 120px;
  justify-content: center;
  padding-top: 15px;
  img {
    width: 6%;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .content-cart {
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-top: -60px;
    margin-right: 55px;
    width: 3%;
  }
  .content-cart:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}
