li {
  float: left;
  color: #000000 !important;
  //   margin-right: -75px;
  //   margin-left: 100px;
  font-size: 13px;
}

// li a {
//   margin-left: 100px;
//   display: block;
//   color: #292828 !important;

//   text-decoration: none;
//   font-weight: 500;
// }
